.rec-wel li{
  position: relative;
  padding-left: 25px;
  line-height: 30px;
}
.rec-wel li::before{
  content: "";
  width: 15px;
  height: 15px;
  background: url('../images/icon_wind.svg')no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: 8px;
}
.wel-box{
  padding-top: 30px;;
}
.wel-box h4{
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 8px 10px;
  font-size: 18px;
}
.wel-box h4 span{
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  padding: 10px 15px;
  margin-right: 15px;
}
.bg-brown{
  background: #775e21;
}
.bg-green{
  background: #577d26;
}
.bg-blue{
  background: #4394d0;
}
.bg-orange{
  background: #dc7e33;
}
.bg-grey{
  background: #9d9d9d;
}
@media screen and (max-width:375px){
  .wel-box h4{
    position: relative;
    padding: 8px 10px 8px 150px;
    min-height: 62px;
  }
  .wel-box h4 span{
    padding: 10px;
    margin-right: 10px;
    line-height: 50px;
    position: absolute;
    left: 15px;
    top: -5px;
  }

}
