body {
    background-color: #9ebcae;
}
h1{
    color: white;
    text-align: center;
    font-size: 90px;
}
input {
    background-color: transparent;
}
.ReviseBnt {
    background-color:transparent;
    color: aliceblue;
    border-color: rgb(255, 35, 35);
}
.ReviseBnt:hover {
    background-color: rgb(200, 235, 171);
    color: rgb(23, 99, 0);
    border-color: transparent;
}
.form-control,.input-group-text {
    background-color: transparent;
    color: white;
}
textarea{
color: white;
}
.btn-outline-secondary{
    color: white;
    border-color: white;
}
.form-control:disabled, .form-control[readonly]{
    background-color: transparent;
    color: white;
}
.alert-01{
    background-color:#d1ecf1;
    color: #062c33;
    text-align: center;
    border-color: transparent;
    display: none;
}
.btn-outline-secondary:hover{
    color:#062c33;
    background-color: whitesmoke;
    border-color: transparent;
}
.SaveBnt{
    background-color:#295048 ;
}
.DelBnt{
    background-color: #e2a9a9;
}